---
layout: default
title: Yi-Ta Lu
---

<!-- <img src="/images/shakespeare.png" class="right" /> -->
<img src="/images/backpackmono.png" class="right" />

<p>I am a social scientist with a background in political science, economics, and physics. My research is interdisciplinary, exploring topics within evolutionary anthropology and political economy. Specifically, I investigate the cultural evolution of fertility transitions, social dilemmas in political contexts, and the interaction between political and economic factors in shaping our society. My primary approach involves theoretical and statistical computational modeling, aiming to bridge conceptual and empirical research while inspiring further data collection through surveys or experiments.</p>

<p>I work in the <a href="https://www.eva.mpg.de/ecology/index.html">Department of Human Behavior, Ecology and Culture</a> and the <a href="https://www.eva.mpg.de/birthrites/">BirthRites</a> Lise Meitner Research Group at the <a href="https://www.eva.mpg.de/index.html">Max Planck Institute for Evolutionary Anthropology</a> in Leipzig, Germany. I received my Ph.D. in <a href="https://www.stonybrook.edu/polsci/">Political Science</a> from the <a href="https://www.stonybrook.edu">State University of New York at Stony Brook</a>, USA in May 2021.</p>

<p>Feel free to get in touch at <a href="mailto:yi_ta_lu@eva.mpg.de">yi_ta_lu@eva.mpg.de</a>.</p>

<!-- 
{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
 -->